%% -*- erlang -*-
%%
%% Copyright (C) 2022  Mikael Pettersson
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.

{eunit_opts,
  [ verbose
  ]}.

{erl_opts,
  [ debug_info
  , warn_export_all
  , warn_obsolete_guard
  , warn_shadow_vars
  , warn_unused_import
  , warn_unused_vars
  , warnings_as_errors
  , {d, 'VSN', "undefined"} % rebar.config.script replaces this with the actual VSN
  ]}.

{deps,
  [
  ]}.

{dialyzer,
  [ {warnings, [missing_return, unknown]}
  ]}.

{xref_checks,
  [ deprecated_function_calls
  , deprecated_functions
  , exports_not_used
  , locals_not_used
  , undefined_function_calls
  , undefined_functions
  ]}.

{xref_ignores,
  [ %% erlscheme script entry point
    {es_repl, start, 0}
    %% es_compile alternative entry point
  , {es_compile, file, 2}
    %% indirect calls
  , {es_datum, format_error, 1}
  , {es_eval, format_error, 1}
    %% called by generated code
  , {es_macros, enter_macro, 2}
  , {es_macros, enter_syntax, 2}
    %% dead code TODO: remove or use
  , {es_lexer, string_to_number, 2}
  , {es_lexinput, column, 1}
  , {es_lexinput, line, 1}
  , {es_lexinput, name, 1}
  , {es_print, write, 1}
  ]}.
